.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_title {
    margin: 0 10px;
    font-size: 18px;
}

.file {
    color: #1890FF;
    margin-top: 10px;
}

.file span {
    font-size: 14px;
}

.feedback {
    font-size: 14px;
}

.success {
    color: #1677ff;
}

.failed {
    color: #ff4d4f;
}

.waiting {
    color: #666;
}

.line {
    background: #1677ff;
    width: 1px;
    height: 100px;
    margin: 10px auto;
}